uvicorn
psycopg2-binary
redis
spacy
transformers
torch
pillow
requests
python-dotenv
flask
flask-sqlalchemy
flask-login
flask.ext
worldnewsapi
authlib
flask-dance
flask-oauthlib
feedparser
bs4
selenium
flask-migrate